.btn {
  width: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

table {
  tbody {
    tr {
      td {
        white-space: nowrap;
        vertical-align: middle;
      }
    }
  }
}
